section.footer__container {
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    
}

.footer__container__top {
    background-image: url(../img/footer-background.jpg);
    background-size: cover;
    background-position: 45% ;
    width: 100%;
    padding: 45px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.container__top__inside__empty {
    margin-bottom: 30px;
}

.container__top__inside__first-order {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 100%;
    margin-top: 50px; 
    padding: 0 20px;
}

.first-order__inside__icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.footer__ten__procent {
    color: var(--accent-signal-color);
    width: bold;
    font-size: 21px;
    margin-right: 10px;
}
.first-order__text {
    font-size: 14px;
    width: 100%;
    font-weight: 700;
    font-family: PT sans-serif;

}
.container__top__inside__form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}
.form__email {
    margin: 10px;
    padding: 15px 25px;
    min-height: 20px;
    min-width: 270px;
    background-color: var(--line);
}
#form__button {
    margin: 10px;
    padding: 15px 25px;
    min-height: 20px;
    min-width: 270px;
    background-color: var(--accent-signal-color);
    
}
@media (min-width: 768px) {
    .footer__container__top {
        display: flex;
        flex-direction: row;
        background-position: 45%;
        justify-content: flex-end;
        align-items: center;
        padding: 45px 25px;
        width: 100%;      
    }
    .container__top__inside__empty {
        max-width: 25%;
    }
    .container__top__inside__first-order {
        max-width: 45%;
    }
    .container__top__inside__form {
        max-width: 30%;
    }
    .form__email {
        min-width: 155px;
    
    }
    #form__button {
        min-width: 155px;
        
    }
} 

.footer__container__middle {
    border-bottom: 1px var(--line);
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-around;
    padding: 70px 25px 45px 25px;
}

.footer__logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer__main__logo {
    max-width: 179px;
}
.footer__logo__text {
    display: inline;
    color: var(--tertiary-text-color);
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    line-height: 27.2px;
    text-align: center;
    font-family: PT sans-serif;
    
}
.footer__navigation {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}
.footer__shop__container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}
.footer__follow-us {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.footer__red__line {
    height: 2px;
    width: 25%;
    background-color: var(--accent-signal-color);
    margin: 15px auto;
}

.footer__navigation__title {
    font-size: 22px;
}

.navigation__link {
    font-size: 16px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    font-family: PT sans-serif;
}
.footer__navigation__links {
    margin-bottom: 15px;
}
.footer__shop__links {
    margin-bottom: 15px;
}
@media (min-width: 768px) {
    .footer__container__middle {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start; 
        padding-right: 40px;
        
    }
    .footer__logo {
        margin-right: 30px;
    }
    .footer__logo__text {
        text-align: justify;
        padding: 0 10px;
    }
    .footer__navigation {
        margin-top: 0;
        text-align: left;
    }
    .footer__shop__container {
        margin-top: 0;
        text-align: left;

    }

    .footer__follow-us {
        margin-top: 0;
        text-align: right;
    }
    .footer__red__line {
        margin-right: 75%;
    }
    .footer__follow-us > .footer__red__line{
        margin-left: 75%
    }
}


.footer__container__bottom {
    background-color: var(--dark-color);
    color: var(--light-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
      
}
@media (min-width: 768px) {
    .footer__container__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 25px;
    }
}
.footer__container__bottom__text {
    margin:10px;
}

.footer__social {
    color: var(--light-color);
    height: 30px;
    width: 30px;
    background-color: var(--accent-signal-color);
    transition: 0.3s;
    margin: 25px 5px 5px 5px;
    

}
.footer__social:hover {
    background-color: var(--light-color);
    transition: 0.5s;
}

